name: Docker CI
on:
  push:
    branches:
      - "master"
    paths:
      - 'src/container/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Docker image
        run: docker build -t thirtysix361/browski $GITHUB_WORKSPACE/src/
      - name: Push Docker image
        run: docker push thirtysix361/browski:latest
